.*.swp

00_header
10_hurd
10_linux
30_os-prober
autom4te.cache
autom4te.cache
build
config.cache
config.guess
config.guess.cdbs-orig
config.h
config.h.in
config.log
config.status
config.sub
config.sub.cdbs-orig
configure
*.d
*.exec
genkernsyms.sh
gensymlist.sh
grub-install
grub-mkdevicemap
grub-mkimage
grub-mkrescue
grub-probe
grub_probe_init.c
grub_probe_init.h
grub_script.tab.c
grub_script.tab.h
grub-setup
grub_setup_init.c
grub_setup_init.h
*.img
kernel.elf
*.lst
Makefile
*.mod
mod-*.c
stamp-h
stamp-h1
symlist.c
update-grub
update-grub_lib
.pc
